@charset "utf-8";
* { word-wrap: break-word; }
body { font: 12px/1.5 "\5B8B\4F53", "simsun", arial, "Hiragino Sans GB", "\5B8B\4F53", tahoma, sans-serif; color: #555;min-height: 100vh; }
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, hr { margin: 0; padding: 0; border: 0; }
table { empty-cells: show; border-collapse: collapse; }
ul li { list-style: none; }
img { border: none; text-indent:0em; }
a { color: #555; text-decoration: none; }
a:hover { text-decoration: none; color: #C00; }
h1, .f1, h2 { font-family: "微软雅黑", Arial; color: #333; }
h1 { font-size: 18px; text-align: center; }
.f1, h2 { font-size: 14px; }
h1 { font-size: 20px; padding: 5px 0; }
.f2 { font-size: 14px; }
.both { clear: both; }
ul, ul li, p, h1, h2, h3, dl, dt, dd { list-style: none outside none; font-weight: normal; }
/*box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;*/
/*yz_head 头部*/
.yz_head { width:100%; min-width:1300px; height:auto; overflow:hidden; margin: 0 auto;}
.yz_head dl { width:90%; height:auto; overflow:hidden; margin: 0 auto; padding:5px 0;}
.yz_head dl dt { float:left; width:270px; height:80px; background:url(../images/logo.png) no-repeat;}
.yz_head dl dd { float:right; width:220px; height:80px; }
.yz_head dl dd p { line-height:25px; text-align:center; margin: 15px 0 5px 0;}
#yz_head_dl_dd_a { margin: 0 10px 0 65px;}
.yz_head dl dd a { float:left; margin: 0 10px 0 0;}
.yz_head dl dd a:hover {}
.yz_head_nav { width:100%; height:auto; overflow:hidden; background:#48bbb4;}
.yz_head_nav ul { width:90%; height:auto; overflow:hidden; margin: 0 auto; border-left:1px #fff solid;}
.yz_head_nav ul li { float:left; width:12.4%; height:40px; line-height:40px; text-align:center; border-right: 1px #fff solid;}
.yz_head_nav ul li a { display:block; width:100%; height:40px; color:#fff; font-weight:bold;}
.yz_head_nav ul li a:hover { background:#09938a;}
/*test 头部*/
.yz_head_top_wai { width:100%; height:auto; overflow:hidden; background:#f0f0f0;}
.yz_head_top { width:1300px; height:30px; line-height:30px; margin: 0 auto;}
.yz_head_top li { float:right; padding:0 15px;}
.yz_head_top li a {}
.yz_head_top li a:hover {}

.yz_head_nav_test { width:100%; height:auto; overflow:hidden; margin: 0 auto; background:#48bbb4; }
.yz_head_nav_test_le { width:1200px; height:auto; overflow:hidden; margin:0 auto;}
.yz_head_nav_test_le li { float:left; width:10%; height:50px; }
.yz_head_nav_test_le1 li { float:left; width:7%; height:50px; }
.yz_head_nav_test_le li a { display:block; width:90%; height:30px; line-height:30px; text-align:center; color:#fff; font-weight:bold; border-radius: 10px; -moz-border-radius: 10px; margin:10px 0;}
.yz_head_nav_test_le li a:hover { background:#09938a;}
.yz_head_nav_test_le img { float:left; height:50px; margin: 0 50px 0 20px;}
.yz_head_nav_test_bo { border-right:1px #fff solid;}
#yz_head_nav_test_img { width:100px; height:auto; line-height:normal; margin:0; padding:0;}

#yz_head_nav_test_img img { width:100%;}

/*yz_foot 尾部*/
.yz_foot { width:100%; min-width:1300px; height:auto; overflow:hidden; background:#48bbb4; padding: 10px 0 5px 0; margin: 0 auto;}
.yz_foot_wx { width:980px; height:auto; overflow:hidden; margin: 0 auto;}
.yz_foot_wx dt { width:100px; height:100px; margin: 0 auto;}
.yz_foot_wx dt img { width:100%;}
.yz_foot_wx dd { width:100%; height:35px; line-height:35px; text-align:center; font-family: "微软雅黑", Arial; color:#fff;}
/*yz_fd*/
.yz_fd { width:100%; height:825px; position:fixed; top:0; left:0; background: rgba(0,0,0,0.5); z-index:999999;}
.yz_fd h2 { width:350px; height:35px; line-height:35px; text-align:center; color:#fff; font-size:16px; font-weight:bold; margin: 100px auto 0 auto; background:#48bbb4; border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0;}
.yz_fd img { display:block; width:350px; margin: 0 auto;}
.yz_fd a { display:block; width:350px; height:35px; line-height:35px; text-align:center; margin: 0 auto; background: url(../images/1px-01.jpg) repeat-x; border: 1px #a9aaac solid; color:#333;}
/*保存 取消*/
#yzf_bc ,#yzf_qx {display:block; float:left; width:100px; height:35px; line-height:35px; font-size:18px; text-align:center; background: #48bbb4 /* url(../images/1px-01.jpg) repeat-x */; color:#fff; font-weight:bold;}
#yzf_bc { margin: 10px 50px 0 450px;}
#yzf_qx { margin: 10px 0 0 0;}
/*yz-01_fd*/
.yz-01_fd {width:100%; min-height:100%; background: rgba(0,0,0,0.5); position:absolute; top:0; left:0; z-index:9999;display:none;}
.yz-01_fd_xf { width:25%; height:auto; overflow:hidden; background:#fff; position:absolute; top:100px; left:37.5%; border-radius: 10px; -moz-border-radius: 10px; padding: 0 0 10px 0;}
.yz_04_01_fd_kw_qr button { border:none;outline:none;display:block; float:left; width:100px; height:30px; line-height:30px; text-align:center; background: url(../images/1px-01.jpg) repeat-x; border: 1px #a9aaac solid; margin: 20px 33px; color:#333;}
.yz-01_fd_xf li {}
.yz-01_fd_xf li h2 { line-height:35px; text-align:center; background:#0EA59C; color:#fff;}
.yz-01_fd_xf li textarea { display:block; width:90%; margin: 10px auto 0 auto;}
.yz-01_fd_xf_xc { float:left; width:50%; height:30px; line-height:30px; text-indent:1.5em;}
/*yzf_01*/
.yzf_01 { width:1150px; height:auto; overflow:hidden; margin: 10px auto; padding: 0 0 10px 0; box-shadow: 1px 1px 7px rgba(72, 187, 180, 0.5); border:1px #e0e0e0 solid;}
.yzf_01_top { width:100%; height:35px; margin: 5px auto 2px auto; box-sizing: border-box; padding: 0 0 0 10px;}
.yzf_01_top_bo { float:left; width:320px; height:30px; border-top:1px #e6e6e6 solid; border-bottom:1px #e6e6e6 solid; border-left:1px #e6e6e6 solid; border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px;}
.yzf_01_top_bo_xl { float:left; display:block; width:80px; height:30px; line-height:30px; padding: 0 0 0 10px; background: url(../images/xl-01.png) no-repeat 65px center;}
.yzf_01_top_bo_xl ul { display:none; width:100%; height:auto; overflow:hidden; margin:0 0 0 -11px; border-top:1px #e6e6e6 solid; border-left:1px #e6e6e6 solid; border-right:1px #e6e6e6 solid; background:#fff; position:relative; z-index:9; }
.yzf_01_top_bo_xl ul li { width:100%; height:30px; line-height:30px; text-align:center; border-bottom:1px #e6e6e6 solid;}
.yzf_01_top_bo_xl:hover { color:#555;}
.yzf_01_top_bo_xl:hover ul { display:block;}
.yzf_01_top_bo input[type="text"] { float:left; width:220px; height:20px; border:none; margin:4px 0 0 0;}
.yzf_01_top input[type="submit"] { float:left; width:60px; height:32px; background:#48bbb4; border:none; color:#fff; border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0;}
.yzf_01_bot { width:100%; height:auto; overflow:hidden; margin: 0 auto;}
.yzf_01_bot a ,.yzf_01_bot p { display:block; width:100%; height:35px; line-height:35px;}
.yzf_01_bot a span ,.yzf_01_bot p span { float:left; display:block; width:11.1%; height:35px; line-height:35px; text-align:center;}

.yzf_01_bot_zt { background: url(../images/by-01.png) no-repeat center; background-size: 25px 25px; }
/*yzf_01_01*/
.yzf_01_01 { width:98%; height:auto; overflow:hidden; margin: 10px auto 0 auto; border:1px #ccc solid;}
.yzf_01_01 p ,.yzf_01_01_nr { width:100%; height:35px;}
.yzf_01_01 p span ,.yzf_01_01_nr span ,.yzf_01_01_nr_lg { display:block; float:left; width:25%; height:35px; line-height:35px; text-align:center;}
.yzf_01_01_nr_lg form { display:block; width:115px; height:23px; margin:6px auto 0 auto; }
.yzf_01_01_nr_lg form select {}
#yzf_01_01-02_tj ,#yzf_01_01-02_sc { display:block; float:left; width:120px; height:35px; line-height:35px; text-align:center; font-weight:bold; color:#8FD544;}
#yzf_01_01-02_tj { margin: 0 0 0 660px;}
#yzf_01_01-02_sc {}
#yzf_01_01-02_tj:hover ,#yzf_01_01-02_sc:hover { border:none;}
/*yzf_01_01-02*/
.yzf_01_01-02 { width:98%; height:auto; overflow:hidden; margin: 10px auto 0 auto; border:1px #ccc solid;}
.yzf_01_01-02 p { width:100%; height:35px;}
.yzf_01_01-02 p span { display:block; float:left; width:11.1%; height:35px; line-height:35px; text-align:center;}
/*yz_01_01-02-01*/
.yzf_01_01-02-01 { width:80%; height:auto; overflow:hidden; margin:100px auto 0 auto; background:#fff; padding: 0 0 10px 0;}
.yzf_01_01-02-01_tj { display:block; width:100%; height:35px; line-height:35px; text-align:center; font-size:18px; background:#48BBB4; color:#fff; margin: 0 0 5px 0;}
.yzf_01_01-02-01_dh { width:100%; height:32px; margin: 0 0 5px 0; padding: 0 0 0 10px; }
.yzf_01_01-02-01_dh_tj ,.yzf_01_01-02-01_dh_qx { display:block; float:left; width:100px; height:30px; line-height:30px; text-align:center; background:#48bbb4; color:#fff;}
.yzf_01_01-02-01_dh_tj { margin:0 5px 0 450px;}
.yzf_01_01-02-01_le { width:12%; float:left; height:260px; margin: 0 0 0 0.8%; box-sizing: border-box; border:1px #ccc solid; border-radius: 10px; -moz-border-radius: 10px; background:#f8f8f8; }
.yzf_01_01-02-01_le h2 { line-height:20px; text-indent:2em; font-size:12px; background: url(../images/fl-01.png) no-repeat 9px center;}
.yzf_01_01-02-01_le ul { width:100%; height:auto; overflow:hidden; margin: 0 auto;}
.yzf_01_01-02-01_le ul li { width:100%; height:20px; line-height:20px; text-indent:2.9em; background: url(../images/fl-02.png) no-repeat 19px 0px;}
.yzf_01_01-02-01_ri { width:86%; float:left; height:260px; overflow:hidden; margin: 0 0 0 0.5%; box-sizing: border-box; border:1px #ccc solid; border-radius: 10px; -moz-border-radius: 10px;}
.yzf_01_01-02-01_ri p ,.yzf_01_01-02-01_ri_fo { width:100%; height:30px;}
.yzf_01_01-02-01_ri p span ,.yzf_01_01-02-01_ri_fo span { display:block; float:left; width:8.9%; height:30px; line-height:30px; text-align:center;}
.yzf_01_01-02-01_ri_fo form { width:2%; float:left; margin:5px 0 0 0;}
#yz_body_ri_02_01_nr_ssy { width:355px; height:auto; overflow:hidden; float:right; margin:10px 0 0 0;}
#yz_body_ri_02_01_nr_ssy a { float:left; display:block; width:30px; height:20px; line-height:20px; text-align:center; margin: 2.5px 5px; background:#f5f5f5; border:1px #ccc solid;}
#yz_body_ri_02_01_nr_ssy a:hover { background:#fff;}
.yzf_01_01-02-01_dh_ss { float:left; width:60px; height:32px; background:#48bbb4; border:none; color:#fff; border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0;}
.yzs_05_test_sc { background: url(../images/sc-03.png) no-repeat right center; background-size: 15px 15px; }
/*yzf_02*/
.yzf_02_bot { width:100%; height:auto; overflow:hidden; }
.yzf_02_bot a ,.yzf_02_bot p { display:block; width:100%; height:35px; line-height:35px;}
.yzf_02_bot a span ,.yzf_02_bot p span { float:left; display:block; width:16.6%; height:35px; line-height:35px; text-align:center;}
.yzf_02_bot_zt { background: url(../images/by-01.png) no-repeat center; background-size: 25px 25px; }
/*yzf_02_01*/
.yzf_02_01 { width:1150px; height:auto; overflow:hidden; margin: 10px auto; border:1px #e6e6e6 solid; padding: 0 0 10px 0; border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; box-shadow: 1px 1px 10px rgba(72, 187, 180, 0.3); border:1px #e0e0e0 solid;}
.yzf_02_01_top { width:100%; height:auto; overflow:hidden; margin: 0 auto; }
.yzf_02_01_top h2 { width:100%; height:45px; line-height:45px; text-align:center; font-size:18px; color:#fff; font-weight:bold; background:#48bbb4;}
.yzf_02_01_top_01,.yzf_02_01_top_02,.yzf_02_01_top_03 { float:left; width:30%; height:auto; overflow:hidden;/* border:1px #e6e6e6 solid; border-radius: 10px; -moz-border-radius: 10px; */ margin:10px 1.5% 0 1.5%; padding: 0 10px; box-sizing: border-box;}
.yzf_02_01_top_01 li ,.yzf_02_01_top_02 li ,.yzf_02_01_top_03 li { width:100%; height:30px; margin:20px 0; line-height:30px; padding: 0 0 0 30px;}
.yzf_02_01_top_01 li span ,.yzf_02_01_top_02 li span ,.yzf_02_01_top_03 li span { display:block; width:200px; height:30px; line-height:30px; text-align:center; border:1px #e6e6e6 solid; position:relative; top:-30px; left:60px;}
.yzf_02_01_bot { width:100%; height:auto; overflow:hidden; margin: 0 auto; border-top:5px #48bbb4 solid;}
.yzf_02_01_bot_to { width:100%; height:auto; overflow:hidden; margin: 0 auto; border-bottom:1px #ccc solid;}
.yzf_02_01_bot_to a { display:block; float:left; width:120px; height:35px; line-height:35px; text-align:center; border-bottom:2px #fff solid;}
.yzf_02_01_bot_to a:hover { border-bottom:2px #48bbb4 solid;}
#yzf_02_01_bot_to_ts { float:right; }
#yzf_02_01_bot_to_ts ,#yzf_02_01_bot_to_tb { color:#67B03D;}
#yzf_02_01_bot_to_ts:hover ,#yzf_02_01_bot_to_tb:hover { border-bottom:2px #fff solid;}
.yzf_02_01_bot_bo { width:98%; height:auto; overflow:hidden; margin: 10px auto 0 auto; border:1px #ccc solid;}
.yzf_02_01_bot_bo p { width:100%; height:35px;}
.yzf_02_01_bot_bo p span { display:block; float:left; width:14.2%; height:35px; line-height:35px; text-align:center;}
.yzf_02_01_xl { clear:both; display:block; width:100%; height:20px; background:#0F0;}
/*yzf_02_02*/
.yzf_02_02_bot_bo { width:98%; height:auto; overflow:hidden; margin: 10px auto 0 auto; border:1px #ccc solid;}
.yzf_02_02_bot_bo p { width:100%; height:35px;}
.yzf_02_02_bot_bo p span { display:block; float:left; width:12.5%; height:35px; line-height:35px; text-align:center;}
/*yzf_02_04*/
.yzf_02_04_bot_bo { width:98%; height:auto; overflow:hidden; margin: 10px auto 0 auto; border:1px #ccc solid;}
.yzf_02_04_bot_bo p { width:100%; height:35px;}
.yzf_02_04_bot_bo p span { display:block; float:left; width:16.6%; height:35px; line-height:35px; text-align:center;}
/*yzf_02_06*/
.yzf_02_06_bot_bo { width:98%; height:auto; overflow:hidden; margin: 10px auto 0 auto; border:1px #ccc solid;}
.yzf_02_06_bot_bo p { width:100%; height:35px;}
.yzf_02_06_bot_bo p span { display:block; float:left; width:14.2%; height:35px; line-height:35px; text-align:center;}
.yzf_02_06_bot_bo_ty { width:100%; height:auto; overflow:hidden; padding:5px 0;}
.yzf_02_06_bot_bo_ty li { float:left; width:14.2%; height:35px; }
.yzf_02_06_bot_bo_ty li span { display:block; float:left; width:100%; height:35px; line-height:35px; text-align:center;}
.yzf_02_06_bot_bo_ty li form { display:block; float:left; width:100%; height:auto; box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;} 
.yzf_02_06_bot_bo_ty li form select { display:block; float:left; width:100%; height:35px; line-height:35px; text-align:center; border:1px #e6e6e6 solid; box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.yzf_02_06_bot_bo_ty li form select option { text-align:center;}
.yzf_02_06_bot_bo_ty li input[type="text"] { display:block; width:80%; height:30px; line-height:30px; border:1px #ccc solid; margin:3px auto 0 auto; text-indent:0.5em; box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.yzf_02_06_tj { display:block; float:left; width:100%; height:35px; line-height:35px; text-align:center; color:#67B03D;}
.yzf_02_06_tj:hover {}
/*yzf_03*/
.yzf_03_top { width:100%; height:auto; overflow:hidden; margin: 5px auto 2px auto; box-sizing: border-box; border-bottom:1px #ccc solid;}
/*
.yzf_03_top a { float:left; display:block; width:100px; height:35px; line-height:35px; text-align:center; border-bottom:2px #fff solid;}
.yzf_03_top a:hover { border-bottom:2px #48bbb4 solid;}
*/
.yzf_03_top span { display:block; float:left; width:auto; height:35px; line-height:35px; padding: 0 10px;}
.yzf_03_top input[type="text"] { float:left; width:80px; margin:6px 0 0 0; text-indent:5px;}
.yzf_03_top form { float:left; width:80px; margin:6px 0 0 0;}
.yzf_03_top form select {}
.yzf_03_top input[type="submit"] { float:left; width:60px; height:32px; background:#48bbb4; border:none; color:#fff; border-radius: 5px; -moz-border-radius: 5px;}
.yzf_03_bot { width:100%; height:auto; overflow:hidden; margin:10px auto 0 auto; }
.yzf_03_bot a ,.yzf_03_bot p { display:block; width:100%; height:35px; line-height:35px;}
.yzf_03_bot a span ,.yzf_03_bot p span { float:left; display:block; width:16.6%; height:35px; line-height:35px; text-align:center;}
/*yzf_03_01*/
.yzf_03_01_bot_bo { width:98%; height:auto; overflow:hidden; margin: 10px auto 0 auto; border:1px #ccc solid;}
.yzf_03_01_bot_bo p { width:100%; height:35px;}
.yzf_03_01_bot_bo p span { display:block; float:left; width:8.3%; height:35px; line-height:35px; text-align:center;}
/*yzf_04*/
.yzf_04_bot { width:100%; height:auto; overflow:hidden; margin: 0 auto;}
.yzf_04_bot a ,.yzf_04_bot p { display:block; width:100%; height:35px; line-height:35px;}
.yzf_04_bot a span ,.yzf_04_bot p span { float:left; display:block; width:10%; height:35px; line-height:35px; text-align:center;}
/*yzf_04_01*/
.yzf_04_01 { width:100%; height:auto; overflow:hidden; margin: 0 auto; border-top:5px #48bbb4 solid;}
.yzf_04_01_cf { width:100%; height:auto; overflow:hidden; padding:5px 0; border-bottom:1px #48bbb4 solid;}
.yzf_04_01_cf a { display:block; float:right; width:100px; height:30px; line-height:30px; text-align:center; color:#67B03D; margin: 0 10px 0 0; border:1px #ccc solid; border-radius: 30px; -moz-border-radius: 30px;}
/*yzf_05*/
.yzf_05 { width:1150px; height:auto; overflow:hidden; margin: 10px auto; padding: 0 0 10px 0; box-shadow: 1px 1px 7px rgba(72, 187, 180, 0.5); border:1px #e0e0e0 solid;}
.yzf_05_top { width:100%; height:auto; overflow:hidden; margin: 0 auto; border-bottom:1px #ccc solid;}
.yzf_05_top a { display:block; float:left; width:100px; height:35px; line-height:35px; text-align:center; border-bottom:2px #fff solid;}
.yzf_05_top a:hover { border-bottom:2px #48bbb4 solid;}
#yzf_05_top_ss { float:left; width:190px; height:35px; line-height:35px; margin:0 0 0 150px;}
#yzf_05_top_ss input { float:left; width:130px; margin:7px 0 0 0;}
#yzf_05_top_ss a { display:block; float:left; width:50px; height:22px; line-height:22px; text-align:center; background:#48bbb4; margin:7px 0 0 -1px; color:#fff; border-bottom:none;}
#yzf_05_top_ss a:hover { border-bottom:none;}
.yzf_05_bot { width:100%; height:auto; overflow:hidden; margin: 0 auto;}
.yzf_05_bot_01 { width:100%; height:auto; overflow:hidden; margin: 5px auto; }
.yzf_05_bot_01 p { float:left; width:175px; height:30px; line-height:30px; margin: 0 0 0 25px;}
.yzf_05_bot_01 p input { width:100px;}
.yzf_05_bot_01 a { display:block; float:left; width:60px; height:25px; line-height:25px; text-align:center; background:#48bbb4; border-radius: 10px; -moz-border-radius: 10px; color:#fff; margin: 2px 0 0 20px;}
.yzf_05_bot_01 a:hover {}
.yzf_05_bot_02 { width:10%; float:left; height:auto; overflow:hidden; margin: 0 0 0 0.8%; box-sizing: border-box; border:1px #ccc solid; border-radius: 10px; -moz-border-radius: 10px; padding:10px 0; background:#f8f8f8;}
.yzf_05_bot_02 h2 { line-height:20px; text-indent:2em; font-size:12px; background: url(../images/fl-01.png) no-repeat 9px center;}
.yzf_05_bot_02 ul { width:100%; height:auto; overflow:hidden; margin: 0 auto;}
.yzf_05_bot_02 ul li { width:100%; height:20px; line-height:20px; text-indent:2.9em; background: url(../images/fl-02.png) no-repeat 19px 0px;}
.yzf_05_bot_03 { width:88%; float:left; height:auto; overflow:hidden; margin: 0 0 0 0.5%; box-sizing: border-box; border:1px #ccc solid; border-radius: 10px; -moz-border-radius: 10px; padding:0 0 10px 0;}
.yzf_05_bot_03 p { width:100%; height:30px;}
.yzf_05_bot_03 p span { display:block; float:left; width:8.6%; height:30px; line-height:30px; text-align:center;}
/*yzf_05_01*/
.yzf_05_01 { width:98%; height:auto; overflow:hidden; margin: 0 auto; border:1px #ccc solid; padding: 0 0 10px 0;}
.yzf_05_01 p { width:100%; height:35px;}
.yzf_05_01 p span { display:block; float:left; width:7.6%; height:35px; line-height:35px; text-align:center;}
.yzf_05_01_ts { display:block; float:right; width:60px; height:35px; line-height:35px; text-align:center; color:#67B03D;}
.yzf_05_01_qs { width:100%; height:auto; overflow:hidden; margin: 0 auto;}
.yzf_05_01_qs span { display:block; float:left; width:70px; height:35px; line-height:35px; text-align:center;}
.yzf_05_01_qs input[type="text"] { display:block; float:left; width:80px; margin:7px 0 0 0; text-indent:5px;}
.yzf_05_01_qs a { display:block; float:left; width:50px; height:22px; line-height:22px; text-align:center; background:#48bbb4; margin:7px 0 0 10px; color:#fff; border-bottom:none;}
/*yzf_05_01_01*/
.yzf_05_01_01_ts { width:100%; height:auto; overflow:hidden; margin: 0 auto; border-bottom:1px #48BBB4 solid;}
.yzf_05_01_01_ts a { display:block; float:right; width:70px; height:35px; line-height:35px; text-align:center;}
.yzf_05_01_01_ts a:hover {}
.yzf_05_01_01_xj { width:100%; height:auto; overflow:hidden; margin: 0 auto; border-bottom:1px #48bbb4 solid;}
.yzf_05_01_01_xj ul { width:100%; height:auto; overflow:hidden; margin: 0 auto;}
.yzf_05_01_01_xj ul li { float:left; width:16.6%; height:30px; line-height:30px; text-indent:1em;}
.yzf_05_01_01_xj ul li span { display:block; width:50px; height:20px; line-height:20px; text-align:center; border:1px #f00 solid; color:#f00; margin:5px 0; text-indent:0;}

.yzf_05_01_01_bot_bo { width:98%; height:auto; overflow:hidden; margin: 10px auto 0 auto; border:1px #ccc solid;}
.yzf_05_01_01_bot_bo p { width:100%; height:35px;}
.yzf_05_01_01_bot_bo p span { display:block; float:left; width:4.76%; height:35px; line-height:35px; overflow:hidden; text-align:center;}
/*yzf_05_01_01-02*/
#yzf_05_01_01-02_sc { background: url(../images/sc-03.png) no-repeat right center; background-size: 15px 15px; }
/*yzf_05_02*/
.yzf_05_02 { width:98%; height:auto; overflow:hidden; margin: 0 auto; border:1px #ccc solid; padding: 0 0 10px 0;}
.yzf_05_02 p { width:100%; height:35px;}
.yzf_05_02 p span { display:block; float:left; width:7.14%; height:35px; line-height:35px; text-align:center;}
/*yzf_05_03*/
.yzf_05_03 { width:98%; height:auto; overflow:hidden; margin: 0 auto; border:1px #ccc solid; padding: 0 0 10px 0;}
.yzf_05_03 p { width:100%; height:35px;}
.yzf_05_03 p span { display:block; float:left; width:14.2%; height:35px; line-height:35px; text-align:center;}
/*yzf_05_03-01*/
.yzf_05_03-01_fd { width:350px; height:auto; overflow:hidden; margin:100px auto 0 auto; background:#fff; padding: 0 0 10px 0; border-radius: 10px; -moz-border-radius: 10px;}
.yzf_05_03-01_fd h2 { width:100%; height:35px; line-height:35px; text-align:center; background:#48BBB4; color:#fff; font-size:18px;}
.yzf_05_03-01_fd p { display:block; width:100%; height:30px; line-height:30px; margin:5px 0; padding: 0 0 0 5px; }
.yzf_05_03-01_fd input[type="text"] { float:right; width:70%; height:20px; margin: 0 10px 0 0; }
.yzf_05_03-01_fd a { display:block; float:left; width:100px; height:40px; line-height:40px; text-align:center; background:#48BBB4; color:#fff; font-size:14px; border-radius: 10px; -moz-border-radius: 10px; }
.yzf_05_03-01_fd a:hover {}
/*yzf_05_04*/
.yzf_05_04 { width:98%; height:auto; overflow:hidden; margin: 0 auto; border:1px #ccc solid; padding: 0 0 10px 0;}
.yzf_05_04 p ,.yzf_05_04 a { display:block; width:100%; height:35px; line-height:35px;}
.yzf_05_04 p span ,.yzf_05_04 a span { display:block; float:left; width:11.1%; height:35px; line-height:35px; text-align:center;}
/*yzf_05_04_01*/
#yzf_05_04_01_ts { display:block; float:right; width:60px; height:35px; line-height:35px; text-align:center; color:#67B03D;}
#yzf_05_04_01_ts:hover { border:none;}

.yzf_05_04_01_bot_bo { width:98%; height:auto; overflow:hidden; margin: 10px auto 0 auto; border:1px #ccc solid;}
.yzf_05_04_01_bot_bo p { width:100%; height:35px;}
.yzf_05_04_01_bot_bo p span { display:block; float:left; width:11.1%; height:35px; line-height:35px; text-align:center;}
/*yzf_05_05*/
.yzf_05_05 { width:98%; height:auto; overflow:hidden; margin: 0 auto; border:1px #ccc solid; padding: 0 0 10px 0;}
.yzf_05_05 p ,.yzf_05_05 a { display:block; width:100%; height:35px; line-height:35px;}
.yzf_05_05 p span ,.yzf_05_05 a span { display:block; float:left; width:12.5%; height:35px; line-height:35px; text-align:center;}
/*yzf_05_05_01*/
.yzf_05_05_01_bot_bo { width:98%; height:auto; overflow:hidden; margin: 10px auto 0 auto; border:1px #ccc solid;}
.yzf_05_05_01_bot_bo p { width:100%; height:35px;}
.yzf_05_05_01_bot_bo p span { display:block; float:left; width:7.69%; height:35px; line-height:35px; text-align:center;}
/*yzf_06*/
.yzf_06 { width:1150px; height:auto; overflow:hidden; margin: 10px auto; padding: 0 0 10px 0; box-shadow: 1px 1px 7px rgba(72, 187, 180, 0.5); border:1px #e0e0e0 solid; border-radius: 10px; -moz-border-radius: 10px;}
.yzf_06_bot { width:100%; height:auto; overflow:hidden; margin:10px auto 0; }
.yzf_06_bot a ,.yzf_06_bot p { display:block; width:100%; height:35px; line-height:35px;}
.yzf_06_bot a span ,.yzf_06_bot p span { float:left; display:block; width:20%; height:35px; line-height:35px; text-align:center;}
.yzf_06_bot_zt { background: url(../images/by-01.png) no-repeat center; background-size: 25px 25px; }
/*yzf_06_01*/
.yzf_06_01_bot_bo { width:98%; height:auto; overflow:hidden; margin: 10px auto 0 auto; border:1px #ccc solid;}
.yzf_06_01_bot_bo p { width:100%; height:35px;}
.yzf_06_01_bot_bo p span { display:block; float:left; width:11.1%; height:35px; line-height:35px; text-align:center;}
.yzf_06_lg { display:block; float:left; width:100px; height:35px; line-height:35px; text-align:center; border-bottom:2px #fff solid;}
.yzf_06_lg:hover { border-bottom:2px #48bbb4 solid;}
/*yzf_06-01*/
.yzf_06-01_bot { width:100%; height:auto; overflow:hidden; margin:10px auto 0; }
.yzf_06-01_bot a ,.yzf_06-01_bot p { display:block; width:100%; height:35px; line-height:35px;}
.yzf_06-01_bot a span ,.yzf_06-01_bot p span { float:left; display:block; width:12.5%; height:35px; line-height:35px; text-align:center;}
/*yzf_06_01_p*/
.yzf_06_01_p { width:100%; height:auto; overflow:hidden; margin:0 auto; box-sizing: border-box; padding: 0 43px;}
.yzf_06_01_p span { display:block; float:left; width:5%; height:20px; text-align:center; margin:0;}
.yzf_06_01_p textarea { float:left; width:90%; height:auto; overflow:hidden;}
/*yzf_07*/
.yzf_07_bot { width:100%; height:auto; overflow:hidden; }
.yzf_07_bot p ,.yzf_07_bot a { display:block; width:100%; height:35px; line-height:35px;}
.yzf_07_bot p span ,.yzf_07_bot a span { float:left; display:block; width:20%; height:35px; line-height:35px; text-align:center;}
/*yzf_07-01*/
.yzf_07-01_fd { width:250px; height:auto; overflow:hidden; margin:100px auto 0 auto; background:#fff; border-radius: 10px; -moz-border-radius: 10px;}
.yzf_07-01_fd h2 { display:block; width:100%; height:35px; line-height:35px; text-align:center; font-size:18px; color:#fff; background:#48bbb4;}
.yzf_07-01_fd li { width:100%; height:35px; line-height:35px; padding: 0 0 0 30px;}
.yzf_07-01_fd li input[type="text"] { width:50%;}
.yzf_07-01_fd button {outline:none;border:none; display:block; float:left; width:100px; height:35px; line-height:35px; text-align:center; font-size:16px; color:#fff; background:#48bbb4; border-radius: 10px; -moz-border-radius: 10px;}
.yzf_07-01_fd button:focus {border:none;}
/*yzf_08*/
.yzf_08_bot { width:100%; height:auto; overflow:hidden; margin:10px auto 0 auto; }
.yzf_08_bot a ,.yzf_08_bot p { display:block; width:100%; height:35px; line-height:35px;}
.yzf_08_bot a span ,.yzf_08_bot p span { float:left; display:block; width:14%; height:35px; line-height:35px; text-align:center;}
.yzf_08_top { width:100%; height:auto; overflow:hidden; border-bottom: 1px #ccc solid;}
.yzf_08_top a { display:block; float:left; width:100px; height:35px; line-height:35px; text-align:center; border-bottom:2px #fff solid;}
.yzf_08_top a:hover {}
#yzf_08_bot_01 { width:80%; height:auto; overflow:hidden;}
#yzf_08_bot_01 p { float:left; width:175px; height:35px; line-height:35px; margin: 0 0 0 15px;}
#yzf_08_bot_01 p input { width:100px;}
#yzf_08_bot_01 a { display:block; float:left; width:60px; height:25px; line-height:25px; text-align:center; background:#48bbb4; border-radius: 10px; -moz-border-radius: 10px; color:#fff; margin: 5px 0 0 20px;}
/*yzf_08_01*/
.yzf_08_01_top_01,.yzf_08_01_top_02,.yzf_08_01_top_03 { float:left; width:30%; height:auto; overflow:hidden;/* border:1px #e6e6e6 solid; border-radius: 10px; -moz-border-radius: 10px; */ margin:10px 1.5% 0 1.5%; padding: 0 10px; box-sizing: border-box;}
.yzf_08_01_top_01 li ,.yzf_08_01_top_02 li ,.yzf_08_01_top_03 li { width:100%; height:30px; margin:20px 0;}
.yzf_08_01_top_01 li span ,.yzf_08_01_top_02 li span ,.yzf_08_01_top_03 li span { display:block; width:200px; height:30px; line-height:30px; text-align:center; border:1px #e6e6e6 solid; position:relative; top:-30px; left:60px;}
.yzf_08_01_top_01 li select ,.yzf_08_01_top_02 li select ,.yzf_08_01_top_03 li select { display:block; width:200px; height:32px; line-height:32px; text-align:center; border:1px #e6e6e6 solid; position:relative; top:-30px; left:60px;}
.yzf_08_01_bot_bo { width:98%; height:auto; overflow:hidden; margin: 10px auto 0 auto; border:1px #ccc solid;}
.yzf_08_01_bot_bo p { width:100%; height:35px;}
.yzf_08_01_bot_bo p span { display:block; float:left; width:14.2%; height:35px; line-height:35px; text-align:center;}
/*yzf_09*/
.yzf_09 { width:1150px; height:auto; overflow:hidden; margin: 10px auto; padding: 0 0 10px 0; box-shadow: 1px 1px 7px rgba(72, 187, 180, 0.5); border:1px #e0e0e0 solid;}
.yzf_09_top { width:100%; height:auto; overflow:hidden; margin: 0 auto; border-bottom:1px #ccc solid;}
.yzf_09_top a { display:block; float:left; width:100px; height:35px; line-height:35px; text-align:center; border-bottom:2px #fff solid;}
.yzf_09_top a:hover { border-bottom:2px #48bbb4 solid;}
#yzf_09_top_tj ,#yzf_09_top_sc { border-bottom:2px #fff solid; width:50px; color:#67B03D;}
#yzf_09_top_tj { margin: 0 0 0 230px;}
.yzf_09_bot { width:98%; height:auto; overflow:hidden; margin: 0 auto; border:1px #ccc solid; padding: 0 0 10px 0;}
.yzf_09_bot p ,.yzf_09_bot a { display:block; width:100%; height:35px; line-height:35px;}
.yzf_09_bot p span ,.yzf_09_bot a span { display:block; float:left; width:33%; height:35px; line-height:35px; text-align:center;}
#yzf_09_bot_01 { width:100%; height:auto; overflow:hidden;}
#yzf_09_bot_01 p { float:left; width:175px; height:35px; line-height:35px; margin: 0 0 0 15px;}
#yzf_09_bot_01 p input { width:100px;}
#yzf_09_bot_01 a { display:block; float:left; width:60px; height:25px; line-height:25px; text-align:center; background:#48bbb4; border-radius: 10px; -moz-border-radius: 10px; color:#fff; margin: 5px 0 0 20px;}
/*yzf_09-01*/
.yzf_09-01_fd { width:250px; height:auto; overflow:hidden; margin:50px auto 0 auto; background:#fff; border-radius: 10px; -moz-border-radius: 10px;}
.yzf_09-01_fd h2 { display:block; float:left; width:100%; height:35px; line-height:35px; text-align:center; font-size:18px; color:#fff; background:#48bbb4;}
.yzf_09-01_fd li { float:left; width:50%; height:35px; line-height:35px; padding: 0 0 0 10px; box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.yzf_09-01_fd li input[type="text"] { width:50%;}
.yzf_09-01_fd li input[type="checkbox"] {}
.yzf_09-01_fd a { display:block; float:left; width:100px; height:35px; line-height:35px; text-align:center; font-size:16px; color:#fff; background:#48bbb4; border-radius: 10px; -moz-border-radius: 10px;}
/*yzf_09_01*/
.yzf_09_01_bot { width:98%; height:auto; overflow:hidden; margin: 10px auto 0 auto; border:1px #ccc solid;}
.yzf_09_01_bot p { width:100%; height:35px;}
.yzf_09_01_bot p span { display:block; float:left; width:14.2%; height:35px; line-height:35px; text-align:center;}
/*yzf_09_02*/
.yzf_09_02_bot { width:98%; height:auto; overflow:hidden; margin: 0 auto; border:1px #ccc solid; padding: 0 0 10px 0;}
.yzf_09_02_bot p ,.yzf_09_02_bot a { display:block; width:100%; height:35px; line-height:35px;}
.yzf_09_02_bot p span ,.yzf_09_02_bot a span { display:block; float:left; width:20%; height:35px; line-height:35px; text-align:center;}
/*yzf_09_03*/
.yzf_09_03_bot { width:98%; height:auto; overflow:hidden; margin: 0 auto; border:1px #ccc solid; padding: 0 0 10px 0;}
.yzf_09_03_bot p ,.yzf_09_03_bot a { display:block; width:100%; height:35px; line-height:35px;}
.yzf_09_03_bot p span ,.yzf_09_03_bot a span { display:block; float:left; width:33.3%; height:35px; line-height:35px; text-align:center;}
/*yzf_09_03-01*/
.yzf_09_03-01_fd { width:300px; height:auto; overflow:hidden; margin:100px auto 0 auto; background:#fff; border-radius: 10px; -moz-border-radius: 10px;}
.yzf_09_03-01_fd h2 { display:block; float:left; width:100%; height:35px; line-height:35px; text-align:center; font-size:18px; color:#fff; background:#48bbb4;}
.yzf_09_03-01_fd li { float:left; width:100%; height:35px; line-height:35px; padding: 0 0 0 10px; box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.yzf_09_03-01_fd li input[type="text"] { width:50%;}
.yzf_09_03-01_fd a { display:block; float:left; width:100px; height:35px; line-height:35px; text-align:center; font-size:16px; color:#fff; background:#48bbb4; border-radius: 10px; -moz-border-radius: 10px;}
#yzf_09_03-01_tj { display:block; width:100%; height:25px; line-height:25px; text-align:center; color:#000; background: url(../images/1px-01.jpg) repeat-x; margin:5px 0; border: 1px #A9AAAC solid; box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border-radius: 0px; -moz-border-radius: 0px;}
/*yzf_09_04*/
.yzf_09_04_bot { width:98%; height:auto; overflow:hidden; margin: 0 auto; border:1px #ccc solid; padding: 0 0 10px 0;}
.yzf_09_04_bot p ,.yzf_09_04_bot a { display:block; width:100%; height:35px; line-height:35px;}
.yzf_09_04_bot p span ,.yzf_09_04_bot a span { display:block; float:left; width:12.5%; height:35px; line-height:35px; text-align:center;}
/*yzf_09_04-01*/
.yzf_09_04-01_fd { width:300px; height:auto; overflow:hidden; margin:30px auto 0 auto; background:#fff; border-radius: 10px; -moz-border-radius: 10px;}
.yzf_09_04-01_fd h2 { display:block; float:left; width:100%; height:35px; line-height:35px; text-align:center; font-size:18px; color:#fff; background:#48bbb4;}
.yzf_09_04-01_fd li { float:left; width:100%; height:35px; line-height:35px; padding: 0 0 0 45px; box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.yzf_09_04-01_fd li span { display:block; float:left; width:60px; height:35px; line-height:35px; box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.yzf_09_04-01_fd li input[type="text"] { display:block; float:left; width:150px; height:23px; margin:6px 0; text-indent:0.5em; border:1px #e6e6e6 solid; box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.yzf_09_04-01_fd li form { display:block; float:left; width:150px; height:auto; box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.yzf_09_04-01_fd li form select { display:block; width:150px; height:23px; line-height:23px; border:1px #e6e6e6 solid; margin:6px 0; }
.yzf_09_04-01_fd li form select option { text-indent:0.5em;}
.yzf_09_04-01_fd a { display:block; float:left; width:100px; height:35px; line-height:35px; text-align:center; font-size:16px; color:#fff; background:#48bbb4; border-radius: 10px; -moz-border-radius: 10px; box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
#yzf_09_04-01_fd_xm { display:block; float:left; width:150px; height:23px; line-height:23px; text-align:center; color:#67B03D; margin:6px 0; border:1px #e6e6e6 solid; font-size:12px; background:none; border-radius: 0px; -moz-border-radius: 0px; box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
/*yzf_09_05*/
.yzf_09_05_bot { width:98%; height:auto; overflow:hidden; margin: 0 auto; border:1px #ccc solid; padding: 0 0 10px 0;}
.yzf_09_05_bot p ,.yzf_09_05_bot a { display:block; width:100%; height:35px; line-height:35px;}
.yzf_09_05_bot p span ,.yzf_09_05_bot a span { display:block; float:left; width:11.1%; height:35px; line-height:35px; text-align:center;}
/*yzf_09_06-01*/
.yzf_09_06-01_fd { width:250px; height:auto; overflow:hidden; margin:100px auto 0 auto; background:#fff; border-radius: 10px; -moz-border-radius: 10px;}
.yzf_09_06-01_fd h2 { display:block; float:left; width:100%; height:35px; line-height:35px; text-align:center; font-size:18px; color:#fff; background:#48bbb4;}
.yzf_09_06-01_fd li { float:left; width:100%; height:35px; line-height:35px; padding: 0 0 0 30px; box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.yzf_09_06-01_fd li input[type="text"] { width:50%;}
.yzf_09_06-01_fd a { display:block; float:left; width:100px; height:35px; line-height:35px; text-align:center; font-size:16px; color:#fff; background:#48bbb4; border-radius: 10px; -moz-border-radius: 10px;}
/*yzf_09_08*/
.yzf_09_08_bot { width:98%; height:auto; overflow:hidden; margin: 0 auto; border:1px #ccc solid; padding: 0 0 10px 0;}
.yzf_09_08_bot p ,.yzf_09_08_bot a { display:block; width:100%; height:35px; line-height:35px;}
.yzf_09_08_bot p span ,.yzf_09_08_bot a span { display:block; float:left; width:12.5%; height:35px; line-height:35px; text-align:center;}
/*yzf_10*/
.yz_10 { width:1000px; height:auto; overflow:hidden; margin: 0 auto;}
.yz_10_to { width:100%; height:auto; overflow:hidden; border-bottom:1px #48BBB4 solid;}
.yz_10_to_fh { display:block; float:left; width:100px; height:35px; line-height:35px; text-align:center; background: #48BBB4; color:#fff;}
.yz_10_to_fh:hover { color:#000;}
.yz_10_to_ty { display:block; float:left; width:100px; height:35px; line-height:35px; text-align:center; border-bottom:2px #fff solid; margin: 0 1px 0 0; box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.yz_10_to_ty:hover { border-bottom:2px #48BBB4 solid;}
.yz_10_to p { display:block; float:left; width:390px; height:35px; line-height:35px;}
.yz_10_to p input { width:125px; margin: 0 5px 0 0;}
.yz_10_to p button { width:80px;}
.yz_10_bo { width:100%; height:auto; overflow:hidden; margin:5px 0 0 0; padding: 0 0 10px 0;}
.yz_10_bo p { display:block; width:100%; height:35px; line-height:35px; }
.yz_10_bo p a span,.yz_10_bo p span { float:left; width:70%; text-align:center; height:35px; line-height:35px; }
/*yzf_11*/
.yzf_11_ld { width:100%; height:auto; overflow:hidden; margin: 0 auto; background:#48BBB4; padding:5px 0;}
.yzf_11_lo { width:1200px; height:auto; overflow:hidden; margin: 0 auto; }
.yzf_11_lo img { height:50px; margin: 0 0 0 20px;}
.yzf_11_zm { width:250px; height:auto; overflow:hidden; position:absolute; top:100px; right:0; background:#fff; padding: 0 0 10px 0; border:10px #f6f6f6 solid;}
.yzf_11_zm h2 { display:block; float:left; width:100%; height:35px; line-height:35px; text-align:center; font-size:18px; background:#48BBB4; color:#fff; margin: 0 0 5px 0;}
.yzf_11_zm li { float:left; width:100%; height:30px; line-height:30px; overflow:hidden;}
.yzf_11_zm li input[type="text"] { display:block; width:90%; margin: 0 auto;}
.yzf_11_zm li input[type="checkbox"] {}
.yzf_11_zm li a { display:block; width:100%; height:30px; line-height:30px; text-align:center; }
#yzf_11_dl { display:block; float:left; width:100px; height:40px; line-height:40px; text-align:center; background:#48BBB4; margin: 0 0 0 75px; color:#fff; border-radius: 10px; -moz-border-radius: 10px;}

































